* {
    display: block;
}

div.container {
    display: flexbox;
    background-color: aqua;
    padding: 25px;
}

input.dailyPlan {
    width: 100%;
}

span.timeBox {
    text-align: center;
}

nav.navbar {
    text-align: center;
    border: 5px black solid;
}