/* * {
    display: block;
} */
body {
    display: block;
    background-image: url(./commuters.jpg);
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Playfair Display', serif;
}

div.container {
    display: block;
    background-color: #333333;
    text-align: center;
    padding: 25px;
    margin-top: 20px;
}

input.dailyPlan {
    width: 100%;
}

span.timeBox {
    text-align: center;
}

div.navbar {
    display: block;
    text-align: center;
    color: whitesmoke;
    text-shadow: 1px 1px red;
}

div.header-text {
    text-align: center;
}

div.plannerRow {
    min-height: 20px;
    border: black 1px solid;
}

textarea {
    resize: none;
}