* {
    display: block;
}

div.container {
    display: flexbox;
    background-color: #333333;
    padding: 25px;
    margin-top: 20px;
}

input.dailyPlan {
    width: 100%;
}

span.timeBox {
    text-align: center;
}

nav.navbar {
    text-align: center;
    border: 5px black solid;
}

div.header-text {
    text-align: center;
}

.save {
    background-image: url(./Floppy-Disk-icon.png);
    background-repeat: no-repeat;
    margin-top: 5px;
}

div.plannerRow {
    min-height: 20pxcd;
}